<!DOCTYPE html> 
<html>
  <head> 
    <title>Fashion</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>
  <body id = "fashion">
    <h1 class = "h1">GIRLS guide to the perfect outfit</h1>
    <ol>
      <li>Find something that fits your liking</li>
      <li>Try it on girl</li>
      <li>If you like it take it and no second thought</li>
      <li>Then strut your stuff and don’t think that people might not like your outfit because that does not matter</li>
<br>
<br>
<h1 class = "h1">Remember This</h1>
<br>
<h2>Be your own model and wear what YOU want to wear and not what people say you should wear. Also don’t hide your body show it off because you are your own person and the only thing that matters is you.
 <br>
 <p>Every day i want you to look in the mirror and say 5 things you like about your self and say 5 diiferent things the next day</p></h2>
 <br>
 <h2>Another thing you can do is get a piece of paper and write 20 things you like about yourself(you can add more if you like) and cut it into strips. put the strips in a jar and shake it up. Now any time you feel sad or just need some encouragement you have something.</h2>
 <br>

<h1 class = "h1">My story</h1>
<br>
<h3><p>Hi my name is Neah and I am the person who wrote this part of the website.
    Most of the things I write on here is what I think about when I pick out an outfit
    or what helps me be confident in myself. When I was in 5th grade I was ashamed of how I looked and the cloths I would wear. The reason for that is how the other
    students would dress. I always thought that they would look at me and make fun of me for some reason. That carried on into 6th grade. I acted like I did not care what people thought of me but that was just a mask I put on to hide the real fact. I never told my friends or parents because I thought that they would not understand. But somehow in the back of my head it clicked and I realized that I should not care what people thought of me. I think I just looked around that day and realized that people dressed differently because they have a different sense of style and I did to. So every time I went to the store with my mom to pick out clothes I would follow my four steps. I am now going into the 8th grade and truly happy.</p></h3> 
</body>
</html>

