<!DOCTYPE html> 
 <html>
 <head> 
   <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
 </head>
 <body id= "index">
  <br></br>
    <body>
      <a href="Fashion_Ideas">Fashion Ideas</a>
      <a href="Personalized_Music">Personalized Music</a>
      <a href="Inspiration">Inspiration</a>
  
<html><head></head>
 <body id = "index">
   <div class = "div">
  <h1>Girl Talk 101</h1>
<h5>Neah Shaw, Mai li Mcghee, and Jodi Aryee</h5>
<h1>M N J</h1>
<br>
<p<h1>This is a little about our site and what we want to inform and you to learn.</p<h1>
<br
<p<h8> We are young girls that want to tell other girls about our point of view on</p<h8>
<br 
 <p<h8>how girls can improve their life with confidence and happiness.</p<h8>
 <br
 <p<h8> we show you this with awesome videos,music choices,and how to be confident in your look.</p<h8>
  <br
  <P<h8> hope you find what you are looking for in our website and tells us if you want something added in girl talk.</p<h8>
  <br>
   <>
  <br>
</div>
     <br>
     <br>
     <br>
    <button type = "submit" class="new"> Fashion</button>
    <button type = "submit" class="new"> Music for You </button>
    <button type = "submit" class="new"> Inspiration </button>
     <br>
     <br>
     <img src="girl-talk-101.jpg">
     <br>
     <>
     <br>
     <img src="girl-talk-102.jpg">
     <br>
     <br>
     <footer class = "footer">
       <br>
       <br> 
       <div class = "div">
             <h5>Girl Power, thanks for checking us out!</h5> 
             <a href="https://www.facebook.com/kodewithklossy" target="_blank"><img id="icon" class "facebook" src="https://cdn3.iconfinder.com/data/icons/picons-social/57/46-facebook-512.png"></a>
<a href="https://www.twitter.com/kodewithklossy" target="_blank"><img id="icon" class "twitter" src="http://simpleicon.com/wp-content/uploads/twitter-2.png"></a> 
<a href="https://www.instagram.com/kodewithklossy" target="_blank"><img id="icon" class "instagram" src="https://image.flaticon.com/icons/png/512/69/69366.png" ></a>
           </div>
           </body>
           </html>


