<!doctype html>
<html>
<head> 
   <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
<title>Inspiration</title>
</head>

<body class="inspiration">
  <div>
<h1>Inspiration</h1>
<br>
 <h2>This section is where you can read articles to both inform and show you different topics that all and most girls struggle with. These articles are for you to feel confident and accepted.</h1>
    
  </div>
<br>
<p id ="p"> 
  
  <br>
Confidence. What does that word mean to you confidence? Believing in yourself, being happy with yourself? Confidence is something that comes from within, confidence isn’t something given to you it’s something you and only you can find in one’s self. You might be reading this and saying “I have no confidence whatsoever “ well let me tell you something… it's a journey and a process to love yourself from the inside out.
<br>
Everyone looks through the eyes of society, this is where you are blinded to the idea of “Perfection” . Perfection is a lie fed to us by social media, tv, and pretty much everywhere around us. When you look at someone and say that their perfect understand they believe that they feel imperfect. No matter what the person you call perfect and down your self comparing yourself to, they are doing the same.
<br>
 You are a strong, beautiful, confident, and brave woman. I bet you’re saying “How do you know that you can’t even see me nor do you know me!” I don’t need to see or know you to say nice things about you. Do you have a role model or an icon that you think is the most confident/bravest ever. Right? Here’s a secret, they struggle with confidence too just like you and me their human. Nobody is invincible not you, not me, not even Beyonce(Queen B struggles with confidence too).
<br>
If you think that I’m a confident role model behind this computer, I’m not. Also, I am not a super smart coding girl. I have no confidence so I’m walking with you through this path of building my confidence. I wish for all my readers to understand that you’re not alone, okay you have somebody by your side. I’m a human girl just like each and every single person reading this article.
  <br>
  
<br>
  <br>
</p> 
<p id = "p">More coming Soon!
  <br>
    Love You Guys!</p>
</body>
</html>


