<!doctype html>
 <html> 
 <head> 
   <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
  <title> Music Helps<title>
</head>
<body id ="p">
<body> <h3> <p> Everyone listens to music, music can help people in a lot of different ways. There's slow music, dance music, rock music all kinds of music that are basically just sounds put perfectly together to sound good.music means a lot more to some people then others personally, I can't go a day without listening to something, but I also know some people who don’t listen to music at all. Music can get you through hard times and make you feel good, it expresses all types of emotion. Here are some songs that I think you might like and enjoy.</p></h3></body>


 <body>
Calming music:                                                     
<ol>
<li>Makeout point-the frights</li>
<li>Flume- Bon Iver</li>
<li>You- Petit Biscuit</li>
<li>We might be dead by tomorrow- Soko</li>
<li>Meteor shower- cavetown</li>
<li>Sunset lover-Petit Biscuit</li> 
<li>Holocene- Bon Iver</li>
</ol>



Happy Music:
<ol>
<li>Infinity-James Young</li>
<li>Scars to your beautiful - Alessia Cara</li>
<li>Most Girls- Haley Steinfeld</li>
<li>Run The World-Beyonce</li> 
<li>Sexy Back-Justin Timberlake</li> 
<li>Stronger- Kelly Clarkson</li>
<li>Royals-Lord</li>
<li>Buzzcut Season- lord</li> 
<li>Girls Like You-Maroon </li>
<li>Bang Bang- Nicki Minaj</li> 
Parachute- Am!R</p></h4>

<h4><p>
Study Music:
Midnight city- M83,
Basic Instinct- Acid
OUtside- Tender,
Watch-Billie Eilish,
I'll Be good- Jaymes Young,
Lost On You- Lewis Camplin
 Put Your Hand On My Shoulder-Paul Anka
Ruler Of everything- Tally Hall.</p></h4>


<h4><p>
Jamming Out:
Dip- culture abuse,
Mine- Bazzi,
Cherry Cola- Jon Kuwada,
V.3005- childish Gambino ,
Earned it- the weekend,
This is America- Childish Gambino</p></h4>

<h4><p>
Dance Music:
Sunshine- kyle
 Feel it still- portugal the man
Redemption-Zacri
Butterfly affect- Travis scott
New Freezer-Rich the kid
Gods Plan - Drake
Levels- Nick Jonas
The Middle- Spring Break.</p></h4>
</body>
